.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skills-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skills-inline > i {
  color: #868e96;
}

.software-skills-inline > i:hover {
  color: #645beb;
}

.software-skills-inline > p {
  color: #868396;
  font-size: 10px;
}

.software-skills-inline > i:hover ~ p {
  color: #645beb;
}
